/**
* fil: style.css
**/

/* farvepalette */
:root {
    --vand: rgb(194, 222, 242);
}

body {
    background-color: var(--vand);
}

p {
    width: 53ch;
}

/* CSS-animation af Jitter-kassen */

/*
#jitter-container {
    animation: flyv-over-vinduet 5s linear forwards;
}
*/

.svoem {
   animation: flyv-over-vinduet 8s linear forwards;
}

@keyframes flyv-over-vinduet {
    from {
        //transform: translate(-50vw);
        //ved ikke at angive en position starter fisken, hvor den er ...
    }

    to {
        transform: translate(150vw); // fisken svømmer uden for skærmen her.
    }   
}


