/**
* fil: style.css
**/

/* farvepalette */
:root {
    --vand: rgb(194, 222, 242);
}

/* Skjuler scrollbaren for neden i browseren  */
html,
body {
  margin: 0;
  overflow-x: clip;
}

body {
    background-color: var(--vand);
}

p {
    width: 53ch;
}


/* Vi laver en class, som kan animere noget  */

.svoem {
   animation: flyv-over-vinduet 8s linear infinite;
}


/* CSS animation  */
@keyframes flyv-over-vinduet {
    from {
        //transform: translate(-50vw);
        //ved ikke at angive en position starter fisken, hvor den er ...
    }

    to {
        transform: translate(150vw); // fisken svømmer uden for skærmen her.
    }   
}


